#btn-1{
    width: 60px;
    height: 50px;
    background-color: white;
}

#btn-2{
    width: 60px;
    height: 50px;
    background-color: white;
}

#btn-3{
    width: 60px;
    height: 50px;
    background-color: white;
}